@model IEnumerable<EFarmer.pk.ViewModels.AdvertisementsViewModels.RecentAdsViewModel>

<div class="widget">
    <div class="widget-heading">
        <h4 class="panel-title"><a>Recent Ads</a></h4>
    </div>
    <div class="widget-content recent-ads">
        @foreach (var item in Model)
        {
            <!-- Ads -->
            <div class="recent-ads-list">
                <div class="recent-ads-container">
                    <div class="recent-ads-list-image">
                        <a href="#" class="recent-ads-list-image-inner">
                            <img src="@Url.Content(item.Picture)" alt="@(item.Title+"_Img")" style="height:66px">
                        </a><!-- /.recent-ads-list-image-inner -->
                    </div>
                    <!-- /.recent-ads-list-image -->
                    <div class="recent-ads-list-content">
                        <h3 class="recent-ads-list-title">
                            <a asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                        </h3>
                        <ul class="recent-ads-list-location">
                            <li>
                                <a asp-action="GetAdvertisementsByCity" asp-route-id="@item.CityId">@item.Location</a>@*,</li>
                                    <li><a href="#">Brooklyn</a></li>*@
                        </ul>
                        <div class="recent-ads-list-price">
                            @item.Price
                        </div>
                        <!-- /.recent-ads-list-price -->
                    </div>
                    <!-- /.recent-ads-list-content -->
                </div>
                <!-- /.recent-ads-container -->
            </div>
        }
    </div>
</div>