<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Tech Flurry Pvt. Ltd.">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.ico">
    <title>Admin Panel | @EFarmer.pk.Common.CommonValues.APP_NAME</title>
    <link href="~/css/AdminPanelCSS/dist/css/style.min.css" rel="stylesheet">
    <!-- This page CSS -->
    @RenderSection("PageStyles", required: false)
    <environment exclude="Development">
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    </environment>
    @RenderSection("Styles", required: false)
    <script src="~/css/AdminPanelCSS/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
</head>

<body class="skin-efarmer fixed-layout">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">@EFarmer.pk.Common.CommonValues.APP_NAME</p>
        </div>
    </div>
    <div id="main-wrapper">
        <partial name="_Header" />
        <partial name="_LeftSidebar" />
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">@ViewData["Title"]</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <partial name="_BreadCrumb" />
                        </div>
                    </div>
                </div>
                @RenderBody()
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <partial name="_Footer" />
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/css/AdminPanelCSS/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="~/css/AdminPanelCSS/assets/node_modules/popper/popper.min.js"></script>
    <script src="~/css/AdminPanelCSS/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/css/AdminPanelCSS/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="~/css/AdminPanelCSS/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/css/AdminPanelCSS/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/css/AdminPanelCSS/dist/js/custom.min.js"></script>
    @RenderSection("PageScripts", required: false)
    <!--Inline Scripts-->
    @RenderSection("Scripts", required: false)
</body>

</html>